[Unit]
Description=Emacs: the extensible, self-documenting text editor
After=xorg.service

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=graphical.target
