[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
After=xorg.service

[Service]
ExecStart=/usr/bin/redshift
Restart=always

[Install]
WantedBy=graphical.target
