# ignore root
/*

# exclude files
!/.gitignore

!/.ctags
!/.gitconfig
!/.gitmodules
!/.vimrc
!/.Xresources
!/.xbindkeysrc
!/.xinitrc
!/.yaourtrc
!/.zprofile
!/.zshenv
!/.zshrc
!/.zshrc.d

!pkglist.txt

# exclude directories
!/bin/
!/screenshots/

!/.emacs.d/
/.emacs.d/*
!/.emacs.d/prelude-modules.el
!/.emacs.d/personal/

!/.config/
/.config/*
!/.config/fontconfig/
!/.config/mpv/
/.config/mpv/watch_later/*
!/.config/nvim/
!/.config/redshift.conf
!/.config/systemd/

!/.i3/

!/.nixpkgs/

!/.sbt/
/.sbt/boot/
/.sbt/launchers/
/.sbt/0.13/target/
/.sbt/0.13/plugins/target
/.sbt/0.13/plugins/project
/.sbt/0.13/staging/

!/.vim/
/.vim/plugged/
