# ignore root
/*

# exclude files
!/.gitignore
!/.gitignore.global

!/.gitconfig
!/.gitmodules
!/.ghci
!/.vimrc
!/.Xresources
!/.xbindkeysrc
!/.xinitrc
!/.bashrc
!/.bash_profile
!/.toprc

!pkglist.txt

# exclude directories
!/bin/
!/screenshots/

!/.aria2/
!/.emacs.d/
/.emacs.d/*
!/.emacs.d/personal/

!/.config/
/.config/*
!/.config/chromium-flags.conf
!/.config/i3/
!/.config/mpv/
/.config/mpv/watch_later/*
!/.config/nixpkgs/
/.config/nixpkgs/overlays
!/.config/nvim/
!/.config/redshift.conf
!/.config/systemd/
/.config/systemd/user/*.wants/

!/.i3/

!/.nixpkgs/

!/.vim/
/.vim/plugged/
