[Unit]
Description=Syndaemon service
After=dbus.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/syndaemon -i 1.0 -t -K -R

[Install]
WantedBy=default.target
